@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a,
span {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border-radius: inherit;
}

a:active,
a:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.firebase-emulator-warning {
  opacity: 0.1;
  pointer-events: none;
}
